
.main {
    display:flex;
}


.main img {
    width:50%;

}

h1 {
    font-size:20px;

}


p {
    font-size:10px;
    
}

.number {
    /* display:flex; */
    
}

/* 材料・数量を横並びにする */
.material {
    display: flex;
}