

.main {
    display:flex;
}


.main img {
    width:50%;

}

.recipe {
    margin:35px;
}

h1 {
    font-size:30px;
}


p {
    font-size:15px;
}


.material {
    display: flex;
    justify-content: space-between;

}

.material p {
    line-height: 30px;
}


h2,h3 {
    font-size:20px;
    border-bottom: solid black 1px;
}


.tukurikata p {
    line-height: 30px;

}

.dotted  {
    border-bottom: dotted rgb(103, 98, 98) 1px;

}

.botum {
    width:30%;
    border:solid;
    padding:20px;
    text-align: center;
    margin:100px auto;
}

footer {
    text-align: center;
    margin: 30px;

}




@media (max-width:600px) {

    
    .main img {
        height: 600px;
        width: 100%;
        object-fit: cover;
        margin:0 auto;
    }
    
    .main {
        flex-flow:column;
    }

    .recipe {
        margin:30px 50px;

    }
}